.divLeft {
    position: relative;
    width: 49%;
    border-right: 1px solid rgb(0, 110, 253);
  }
  button{
    cursor: pointer;
  }
  .divLeft .buscador input {
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    border: 1px solid rgb(0, 110, 253);
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
  }
  .divLeft .divForm {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }
  .divLeft .divTable {
    position: relative;
    width: 100%;
    margin-top: 20px;
  
  }
  .divLeft .divTable table {
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  
  
  
  .divRight{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 49%;
    height: 100%;
  }
  .divRight .divTable{
    position: relative;
    width: 100%;
    height: 85%;
    overflow-x: auto;
  }
  .divRight table{
    position: relative;
    width: 100%;
    text-align: center;
   
  }
  .divRight .divBtnGenerar{
    position: relative;
    width: 49%;
    display: inline-block;
    height: 40px;
  }
  .divRight .divBtnGenerar button{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color:rgb(0, 110, 253);
    color: white;
    font-size: 20px;
  }
  .divRight .divTotal{
    position: relative;
    width: 50%;
    border:1px solid rgb(0, 110, 253);
    border-radius: 10px;
    float: right;
    display: inline-block;
  
  }
  .divRight .divTotal table{
    position: relative;
    width: 100%;
    text-align: left;
  }
  
  
  
  .floating-form {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
  }
  .btnAgregar {
    position: relative;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(0, 110, 253);
  }
  
  .floating-label {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  .split {
    position: relative;
    margin-bottom: 20px;
    width: 46%;
    display: inline-block;
  }
  .floating-input,
  .floating-select {
    font-size: 16px;
    padding: 4px 4px;
    height: 50px;
    background-color: transparent;
    border: none;
    width: 100%;
    border-bottom: 1px solid #818181;
    color: rgb(100, 100, 100);
  }
  
  .floating-input:focus,
  .floating-select:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(0, 110, 253);
  }
  
  label {
    color: #999;
    font-size: 17px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 50%;
    transform: translate(-0%, -50%);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .floating-input:focus ~ label,
  .floating-input:not(:placeholder-shown) ~ label {
    top: -0%;
    font-size: 14px;
    color: rgb(0, 110, 253);
  }
  
  .floating-select:focus ~ label,
  .floating-select:not([value=""]):valid ~ label {
    top: -18px;
    font-size: 14px;
    color: #5264ae;
  }
  
  /* active state */
  .floating-input:focus ~ .bar:before,
  .floating-input:focus ~ .bar:after,
  .floating-select:focus ~ .bar:before,
  .floating-select:focus ~ .bar:after {
    width: 50%;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .floating-textarea {
    min-height: 30px;
    max-height: 260px;
    overflow: hidden;
    overflow-x: hidden;
  }
  
  /* highlighter */
  .highlight {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 15%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  
  /* active state */
  .floating-input:focus ~ .highlight,
  .floating-select:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }
  
  /* animation */
  @-webkit-keyframes inputHighlighter {
    from {
      background: #5264ae;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @-moz-keyframes inputHighlighter {
    from {
      background: #5264ae;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @keyframes inputHighlighter {
    from {
      background: #5264ae;
    }
    to {
      width: 0;
      background: transparent;
    }
  }

  
@media only screen and (max-width: 600px) {
  .divLeft{
    width: 100%;
    border-bottom: 1px solid lightblue;
  }
  .divRight{
    position: relative;
    width: 100%;
  }
  .divRight .divBtnGenerar {
    width: 100%;
  }
  .divRight .divBtnGenerar button {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 110, 253);
    color: white;
    font-size: 20px;
  }
  .divRight .divTotal {
    position: relative;
    width: 100%;
    border: 1px solid rgb(0, 110, 253);
    border-radius: 10px;

  }
  .divRight .divTotal table {
    position: relative;
    width: 100%;
    text-align: left;
  }
}

  