.buscador {
    position: relative;
    margin-top: 55px;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-bottom: 15px;
}

#founded {
  position: relative;
  text-align: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.buscador button {
    position: relative;
    height: 100%;
    width: 10%;
    background-color: lightblue;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.buscador input {
    position: relative;
    height: 93%;
    width: 60%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid lightblue;
    padding-left: 10px;
}

.buscador input:focus {
    border: 2px solid rgb(92, 186, 218);
    outline: none;
}

.tableStock {
    position: relative;
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    z-index: 8;
    border-radius: 10px;
    padding-bottom: 10px;
}
  
tr,td, th{
    border: 1px solid black;
    height: 31px;
    
}

table {
    position: relative;
    text-align: center;
    width: 95%;
    z-index: 9;
    left: 50%;
    transform: translate(-50%);
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 1px black;
}

.inputTable {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}

.editar {
    position: fixed;
    width: 50%;
    height: 50%;
    background-color: whitesmoke;
    z-index: 9;
    border: 1px solid black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 50px;
    text-align: center;
    border-radius: 10px;
}

.formEditData {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.formEditData button{
    cursor: pointer;
}

.difuminado {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.397);
    z-index: 9;
    top: 0;
    left: 0;
    border: 1px solid black;
}

.btnTable {
    margin: 1px;
    border: none;
    border-radius: 5px;
    color: white;
    width: 40%;
    height: fit-content;
    cursor: pointer;
}
.btnTable.eliminar{
    background-color: red;
}
.btnTable.actualizar {
    background-color: rgb(0, 110, 253);
}

img {
    position: relative;
    height: 30px;
    left: 1.5px;
}

.floating-form {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
  }
  .btnAgregar {
    position: relative;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    margin: 5px;
  }

  .btnAgregar.cancel {
      background-color: red;
     
  }
  .btnAgregar.save {
      background-color:  rgb(0, 110, 253);
     
  }

  .floating-label {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  .split {
    position: relative;
    margin-bottom: 20px;
    width: 46%;
    display: inline-block;
  }
  .floating-input,
  .floating-select {
    font-size: 16px;
    padding: 4px 4px;
    height: 50px;
    background-color: transparent;
    border: none;
    width: 100%;
    border-bottom: 1px solid #818181;
    color: rgb(100, 100, 100);
  }
  
  .floating-input:focus,
  .floating-select:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(0, 110, 253);
  }
  
  label {
    color: #999;
    font-size: 17px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 50%;
    transform: translate(-0%, -50%);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .floating-input:focus ~ label,
  .floating-input:not(:placeholder-shown) ~ label {
    top: -0%;
    font-size: 14px;
    color: rgb(0, 110, 253);
  }
  
  .floating-select:focus ~ label,
  .floating-select:not([value=""]):valid ~ label {
    top: -18px;
    font-size: 14px;
    color: #5264ae;
  }
  
  /* active state */
  .floating-input:focus ~ .bar:before,
  .floating-input:focus ~ .bar:after,
  .floating-select:focus ~ .bar:before,
  .floating-select:focus ~ .bar:after {
    width: 50%;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .floating-textarea {
    min-height: 30px;
    max-height: 260px;
    overflow: hidden;
    overflow-x: hidden;
  }
  
  /* highlighter */
  .highlight {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 15%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  
  /* active state */
  .floating-input:focus ~ .highlight,
  .floating-select:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }
  
  /* animation */
  @-webkit-keyframes inputHighlighter {
    from {
      background: #5264ae;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @-moz-keyframes inputHighlighter {
    from {
      background: #5264ae;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @keyframes inputHighlighter {
    from {
      background: #5264ae;
    }
    to {
      width: 0;
      background: transparent;
    }
  }