.info {
  position: relative;
  width: 95%;
  border-bottom: 1px solid grey;
  height: auto;
  left: 50%;
  transform: translate(-50%);
}
.info .card {
  position: relative;
  width: 27%;
  height: 90px;
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 20px;
  margin-left: 5%;
  -webkit-box-shadow: -5px 7px 15px 4px rgba(0, 0, 0, 0.66);
  box-shadow: -5px 7px 15px 4px rgba(0, 0, 0, 0.66);
}
.info .card .icon {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: rgb(37, 150, 190);
}
.info .card .number {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 25%;
  text-align: center;
  color: #333;
  font-size: 22px;
  padding-top: 5%;
}
.info .card .icon img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.chart {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 25%;
  height: 350px;
  margin-top: 20px;
  margin-left: 2.5%;
  display: inline-block;
  border-bottom: 1px solid grey;
}
.chartBar {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 70%;
  margin-top: 20px;
  height: 350px;

  display: inline-block;
  border-bottom: 1px solid grey;
}

@media only screen and (max-width: 600px) {
  .body {
    width: 100%;
    left: 0;
  }
  .info .card {
    width: 44%;
  }
  .chart {
    width: 90%;
    margin: 0%;
    border: none;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%);
  }
  .chartBar {
    width: 90%;
    margin: 0%;
    border: none;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%);
  }

}